.body{
  margin:0;
  padding:0;
  background-color: #82846D;
}

.koru{
  height:100%;
  background-image: url("/images/FernTransparent.png");
  background-color: #82846D;
  margin:0;
  padding:0;
}

.koru_header{
  height:200px;
  width:100%;
  background-image: url("/images/FernTransparent.png");
  background-color: #82846D;
  padding:0;
  margin:0;
}

*{  
  margin:0;
 }  
 .title{  
  cursor:pointer;  
 }  
 /*Properties for Nav-bar*/  
 .navbar{  
  display:flex;  
  top:0;  
  height:10vh;  
  justify-content:space-between;  
  align-items:center;   
  padding:0px 20px;  
  background:transparent;  
 }  
 .nav-sub{  
  display:flex;  
  justify-content:space-between;  
 }  
 .list-item {  
  padding:10px;  
  list-style:none;  
 }  
 .nav-link{  
  color:inherit;  
  text-decoration:none;  
 }  
 /*Properties for Hamburger*/  
 .ham{  
  display:none;  
  padding:5px;  
  cursor:pointer;  
 }  
 .bar1,.bar2,.bar3{  
  display:block;  
  width:35px;  
  height:3px;  
  margin:5px auto;  
  background-color:#101010;  
  transition: 0.4s;  
 }

.Main_Text_Container{
  font-size:40px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

h1{
  font-family:'Roboto Condensed', sans-serif;
}

h2{
  font-family: 'Zen Antique', serif;
}

p{
  font-family: 'Hind Siliguri', sans-serif;
}
font-family: 'Zen Antique', serif;


.buttons_container{
  width:100%;
  position: fixed;
  left:50%;
  top:60%;
  transform: translate(-25%, 10%);
}

.button_links {
  appearance: none;
  background-color: #FBFCFF;
  border: 2px solid #F5F5F5;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  height:20%;
  will-change: transform;
}

.button_links:disabled {
  pointer-events: none;
}

.button_links:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_links:active {
  box-shadow: none;
  transform: translateY(0);
}

#AboutUs_text_box{
  padding:40px;
  margin:0;
}

/*Designing the form*/

form{
    width: 75%;
    margin: 25px auto 0 auto;
    color:#3d3d3d;
    z-index: 1;
}

form h3{
    font-size:2em;
    margin: 0 0 25px 0;
}

form div{
    margin: 0 0 15px 0;
    position: relative;
}

form > div:last-of-type {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

form input,
form textarea {
    padding: 5px 12px;
    outline: none;
    border: 1px solid rgba(0,0,0,0);
    width:80%;
    color: #000000;
    font-size: .9em;
    background-color: rgba(255,255,255, 0.4);
}

form input[type="submit"] {
    width: auto;
    padding: 5px 20px;
    cursor: pointer;
    font-size: .8em;
    color: #3d3d3d;
    border: 1px solid #fff;
    background-color: #598234;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    
}

form input [type="checkbox"] {
    width: auto;
    position: relative;
    top: -2px;
}

form input [type="checkbox"] + label {
    display: inline;
    padding-left: 10px;
    font-style: normal;
}

/*Create a rule that targets the input fields that have a required attribute*/

input:required{
    border: 1px solid #598234;
}

/*Target the label element that appears straight after an input field that has a required attribute in HTML*/

input:required + label {
    color: #598234;
}

/*Create a pseudo-element (*) after each of the required labels */
input:required + label::after{
    content:'requred';
    font-style:italic;
    padding-left: 10px;
    font: .8em;
}

input:required + label::before {
    content:'';
    position:absolute;
    top: -2px;
    left: -25px;
    display: block;
    width: 20px;
    height: 40px;
    background: url(images/favicon.png) no-repeat 0 0;
    background-size: contain;
 

@media only screen and (max-width:768px){  
 *{  
   overflow:hidden;  
  }  
 .nav-sub{  
   position:absolute;   
   top:10vh;  
   right:0px;  
   flex-direction:column;  
   background-color:transparent;  
   border-radius:0px 0px 0px 20px;  
   transition:transform 0.3s ease-in;  
   transform:translate(100%);  
  }  
 .nav-change{  
   transform:translate(0%);  
  }  
 .ham{  
   display:block;  
  }  
 .change .bar1 {  
  transform: rotate(45deg) translate(8px,3px);  
 }  
 .change .bar2 {  
  opacity: 0;  
 }  
 .change .bar3 {  
  transform: rotate(-45deg) translate(8px,-3px);  
 }