.body{
  margin:0;
  padding:0;
  background-color: #82846D;
}

/*For main homescreen */
.koru{
  height:100%;
  background-image: url("/images/FernTransparent.png");
  background-color: #82846D;
  margin:0;
  padding:0;
}

/*header div for all the webpages*/
.koru_header{
  height:200px;
  width:100%;
  background-image: url("/images/FernTransparent.png");
  background-color: #82846D;
  padding:0;
  margin:0;
}

/*for hamburger menu*/ 
*{  
  margin:0;
 }  
 
 .title{  
  cursor:pointer;  
 }

 /*Properties for Nav-bar*/  
 .navbar{  
  display:flex;  
  top:0;  
  height:10vh;  
  justify-content:space-between;  
  align-items:center;   
  padding:0px 20px;  
  background:transparent;  
 }

  .nav-sub{  
  display:flex;  
  justify-content:space-between;  
 }

 .list-item {  
  padding:10px;  
  list-style:none;  
 }

 .nav-link{  
  color:inherit;  
  text-decoration:none;  
 }

 /*Properties for Hamburger*/  
 .ham{  
  display:none;  
  padding:5px;  
  cursor:pointer;  
 }

 .bar1,.bar2,.bar3{  
  display:block;  
  width:35px;  
  height:3px;  
  margin:5px auto;  
  background-color:#101010;  
  transition: 0.4s;  
 }

.Main_Text_Container{
  font-size:40px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* for text */
h1{
  font-family:'Roboto Condensed', sans-serif;
}

h2{
  font-family: 'Zen Antique', serif;
}

p{
  font-family: 'Hind Siliguri', sans-serif;
}
font-family: 'Zen Antique', serif;


/*buttons */
.buttons_container{
  width:100%;
  position: fixed;
  left:50%;
  top:60%;
  transform: translate(-25%, 10%);
}

.button_links {
  appearance: none;
  background-color: #FBFCFF;
  border: 2px solid #F5F5F5;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  height:20%;
  will-change: transform;
}

.button_links:disabled {
  pointer-events: none;
}

.button_links:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_links:active {
  box-shadow: none;
  transform: translateY(0);
}

#AboutUs_text_box{
  padding:40px;
  margin:0;
}

/*Designing the form*/

form{
    width: 75%;
    margin: 25px auto 0 auto;
    color:#3d3d3d;
    z-index: 1;
}

form h3{
    font-size:2em;
    margin: 0 0 25px 0;
}

form div{
    margin: 0 0 15px 0;
    position: relative;
}

form > div:last-of-type {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

form input,
form textarea {
    padding: 5px 12px;
    outline: none;
    border: 1px solid rgba(0,0,0,0);
    width:80%;
    color: #000000;
    font-size: .9em;
    background-color: rgba(255,255,255, 0.4);
}

form input[type="submit"] {
    width: auto;
    padding: 5px 20px;
    cursor: pointer;
    font-size: .8em;
    color: #3d3d3d;
    border: 1px solid #fff;
    background-color: #82846D;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    
}

form input [type="checkbox"] {
    width: auto;
    position: relative;
    top: -2px;
}

form input [type="checkbox"] + label {
    display: inline;
    padding-left: 10px;
    font-style: normal;
}

/*Create a rule that targets the input fields that have a required attribute*/

input:required{
    border: 1px solid #82846D;
}

/*Target the label element that appears straight after an input field that has a required attribute in HTML*/

input:required + label {
    color: #82846D;
}

/*Create a pseudo-element (*) after each of the required labels */
input:required + label::after{
    content:'requred';
    font-style:italic;
    padding-left: 10px;
    font: .8em;
}

input:required + label::before {
    content:'';
    position:absolute;
    top: -2px;
    left: -25px;
    display: block;
    width: 20px;
    height: 40px;
    background: url(images/favicon.png) no-repeat 0 0;
    background-size: contain;
} 

.hero_image_box{
  float: left;
  background-image: url("/images/Isabelle.jpg");
}

/** for the slideshow **/
#slider {
  position: relative;
  width: 500px;
  height: 265px;
 
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;
 
  float: left;
}
#slider ul li img{
  width: 500px;
  height: 265px;
  border-radius: 50%;
}
 
#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

/* code for slider in about us */
.mySlides {display: none}
img {vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width:768px){  
 *{  
   overflow:hidden;  
  }  
 .nav-sub{  
   position:absolute;   
   top:10vh;  
   right:0px;  
   flex-direction:column;  
   background-color:#FBFCFF;  
   border-radius:0px 0px 0px 20px;  
   transition:transform 0.3s ease-in;  
   transform:translate(100%);  
  }  
 .nav-change{  
   transform:translate(0%);  
  }  
 .ham{  
   display:block;  
  }  
 .change .bar1 {  
  transform: rotate(45deg) translate(8px,3px);  
 }  
 .change .bar2 {  
  opacity: 0;  
 }  
 .change .bar3 {  
  transform: rotate(-45deg) translate(8px,-3px);  
 }
}